.btn1
{
    
    height: 37px;
    width: 250px; 
    margin-top: -50px;
    margin-left: 85px;
    background-color:rgb(9, 187, 0);
    border: none;
    border-radius: 10px;
    font-size: larger;
  
}
.button:hover{
        cursor: pointer;
    }